!!!5
html
	head
		title vecturia | error
		base(href='/')
		link(rel='stylesheet', href='css/layout.css')

	body(style='padding:100px;')
		h1 404
		h2 Oh no !
		h3 We can't find whatever it was you were looking for.
		a(href='/') go home
