-# Extend the layout (need a #title and #header)
-#

extend layout
block css

	link(rel='stylesheet', href='css/social.css')

-# This means we define the 'content block' needed in layout
block content

	.social_holder
		img(src='img/profile.png', alt='', style='padding:15px;')
		| <br>
		| Your friends
	.social_holder
		span.points.popular #{fnum}<br>
		| friends
	.social_holder(style='text-align:left; padding-left:60px')
		- if(friends&&friends.length>0)
			- for(var i=0; i<friends.length;i++)
				- if(friends[i]&&friends[i]!==null)
					span.popular +1 
					| - #{friends[i]}
					br
