-# Extend the layout (need a #title)
-# This means we define the 'content block' needed in layout
extend layout
block css

	link(rel='stylesheet', href='css/camipro.css')

block secondary_panel

	.secondary_header
	.secondary_body
		div.secondary_body_title Welcome on expaflyr
		p.
			Explore our database of events and parties, built by students for students.<br/><br/>
			Search, contribute or let us suggest only what's really relevant to you.
	.secondary_footer.
			Made by Daniel

block content

	.camipro
		.whitebox
			.camipro_header
				img(src='img/epfl.png', alt='')
			.camipro_color.color_red(style='width:30%')
			.camipro_color.color_lightblue(style='width:55%')
			.camipro_color.color_yellow((style='width:15%'))
			.camipro_footer
				form(method="POST", action="/login")
					input(type='text', name='username', value='username')
					input(type='password',name='password', value='password')
					input.button(type='submit', value='log in')
		.greybox_bottom

block footer
	.main_footer
		div.line
			span.line_text new to expaflyr ?
		a.button(href='404') sign in
